 html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  body{
      background-color:antiquewhite;
      margin: 0px;
  }

  /* Mobile First */
  
/* Small devices (tablets, 768px and up) */
@media (min-width: 550px){
      
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 850px){
.container{
    display: flex;
    flex-flow:column-reverse nowrap;
    /* justify-content:flex-end; */
    /* align-items: flex-end; */
}
 .controls{
    display:flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
 }  

 .control-row{
     margin-top: 510px;
    display:flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
 }  

 .control-button{
     padding: 10px;
 }
<<<<<<< HEAD

 .chat-enabled{
    /* Chat Button */
    position: absolute;
    width: 54.38px;
    height: 54.38px;
    left: 355px;
    top: 670px;

    opacity: 0.9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
 }

 .video-enabled{
    position: absolute;
    visibility: hidden;
    width: 54.19px;
    height: 54.38px;
    left: 422px;
    top: 669px;
 }
=======
 .rectangle {
  background-color: #555;
  width: 149px;
  height: 103px;
  border-radius: 7px;
>>>>>>> 480cfa3b187ac4ba3cacd7299e09ff8c6cc7cd62


}

