 html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  body{
      background-color:antiquewhite;
      margin: 0px;
  }

  /* Mobile First */
  .container{
   display: flex;
   flex-flow:column-reverse nowrap;
  }

  /* Settings at the top */
  .settings-top{
   position: absolute;
   top: 20px;
   right:20px;
  }
   .chat-btn{
      height: 50%;
      width: 50%;
   }

   .video-btn{
      height: 50%;
      width: 50%;
   }
   .end-call-btn{
      height: 50%;
      width: 50%;
   }
   .mic-btn{
      height: 50%;
      width: 50%;
   }
   .screen-share-btn{
      height: 50%;
      width: 50%;
   }

   .my-feed{
      position: absolute;
      bottom: 10px;
      right:15px;
      background-color: red;
      width: 149px;
      height: 103px;
   }

   

   .hand{
      position: absolute;
      bottom:100px;
      right: 145px;
      height: 26.07px;
      width: 27.54px;
   }

   /* video feed of other users */
   .all-users{
      position: absolute;
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
      top: 0;
      width:226px;
      height: 100%;
      /* height: 575px; */
      background-color: yellow;
   }

   .user-feed{
      background-color: red;
      width: 195px;
      height: 135px;
      margin: 10px;
   }



.controls{
   display:flex;
   flex-flow: row nowrap;
   align-items: center;
   justify-content: center;
}  

.control-row{

   /* margin-top: 470px; */
   display:flex;
   flex-flow: row nowrap;
   align-items: center;
   justify-content: space-between;
   position: absolute;
   bottom: 10px;
}  

.control-button{
    padding: 5px;
}
 
/* Small devices (tablets, 768px and up) */
@media (min-width: 550px){
      
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 850px){
   .chat-btn{
      height: 100%;
      width: 100%;
   }

   .video-btn{
      height: 100%;
      width: 100%;
   }
   .end-call-btn{
      height: 100%;
      width: 100%;
   }
   .mic-btn{
      height: 100%;
      width: 100%;
   }
   .screen-share-btn{
      height: 100%;
      width: 100%;
   }
}